page-bookings {
    .hide {
        display: none;
      }

      .grid-main-header{
        font-size: 20px;
        line-height: 1.5em
      }

      .bike-img-avt{
          position: absolute;
          top:0;
          right: 8px;
      }
  

}
