<!--
  Generated template for the BookingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bookings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Current Bookings
  <ion-item-group [class.hide]="booking.deliveryStatus=='D'" *ngFor="let booking of bookings" style="border:1px solid #ddd;margin-bottom:15px;">
    <ion-item-divider color="light">
      <ion-avatar item-start>
        <img src="assets/imgs/motorcycle_128x128.png">
      </ion-avatar><p item-start>AP 24 L 2068</p> <p item-end>{{booking.bookingDate}}</p>
    </ion-item-divider>
    <ion-item text-center>Progress bar...</ion-item>
    <ion-item >
      <p item-start>Estimated Delivery on</p>
      <p item-end style="margin-right:0 !important;">{{booking.bookingDate}}</p>
    </ion-item>
  </ion-item-group>
 
  <ion-list no-lines>

    <br>Previous Bookings
    <ion-item [class.hide]="booking.deliveryStatus=='P'" *ngFor="let booking of bookings" 
    style="border:1px solid #ddd;margin-bottom:15px;" (click)="gotoInvoice(booking.bookingId)">

      <ion-avatar item-end class="bike-img-avt">
        <img  src="assets/imgs/motorcycle_128x128.png">
      </ion-avatar>
      <h2 class="grid-main-header">AP 24 L 2068 </h2>
      <h3 >{{booking.bookingDate}} - {{booking.deliveryDate}}</h3>
      <hr><p style="text-align:end;">Amount: {{booking.amount | currency : "$ " : 2 }}</p>
    </ion-item>
  </ion-list>
</ion-content>