page-choose-bike {
    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }
    .width-30{
        width: 30%;
        display: inline-block;
    }
    .choose-bike{
       // background-color: rgba($color: #000000, $alpha: 0.2);
        background: rgba(26, 1, 1, 0.404);
        //background-image: '../../assets/imgs/Transparent.png';
       // filter: blur(5px);
    }
    .div-blur {
        height:100%;
        width:100%;
        text-align:center;
        background:url('http://i0.kym-cdn.com/photos/images/original/000/051/726/17-i-lol.jpg?1318992465') no-repeat center;
        background-size:cover;
        -webkit-filter: blur(13px);
        -moz-filter: blur(13px);
        -o-filter: blur(13px);
        -ms-filter: blur(13px);
        filter: blur(13px);
        position: absolute;
        left:0;
        top: 0;
    }
    
}
