page-estimate-cost {
    .cost-est-popover{
        width:400px;
        height: 200px;
        overflow-y: auto;
        top:118px;
    }
    
}
.popover-content{
    width:180px !important;
    height: 200px !important;
    overflow-y: auto !important;
    top:118px !important;
}
